.profile-image {

    filter: sepia();
}

.background {

    background-color: red;
}


.intro-blurb {

    font-size: 40px;
}
/* .profile-image {
    margin-left: '1rem';
    width: '250px';
    height: '250px'
} */