@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.test-bg {
    background-color: rgb(248, 4, 4);
}

.header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 0.3rem;
    border-color: black;
    border-style: solid;
    border-radius: 4%;
    background: rgb(2,0,36);
}

.header:after {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: "Courier New";
    height: 2em;
    width: 50em;
    display: block;
    content: "";
    font-size: 8px;
    float: right;
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.header-home {
    color:rgb(188, 233, 233);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(0,81,176,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
    
}

.header-home:after {
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(0,81,176,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header-resume {
    color:rgb(116, 224, 224);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(64,152,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header-resume:after {
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(64,152,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header-projects {
    color:rgb(37, 87, 87);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(134,189,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header-projects:after {
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(134,189,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);

}

.header-contact {
    color:rgb(9, 54, 54);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(191,220,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header-contact:after {
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(191,220,255,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
}

.profile-image {
    width: 80rem;
    filter: sepia();
}

.profile-image-under {
    color:white;
    font-family: 'Press Start 2P', cursive;
    display: block;
    font-size: 20px;
}

.intro-blurb {
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;
}

.rocks-iframe {
    width: 100%;
}

.player-rocks-info {
    margin-top: 5em;
    color: white;
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;

}
.contact-me-info {
    margin-top: 5em;
    color: white;
    font-family: 'Rubik Dirt', cursive;
    font-size: 30px;
}

.info-block {
    width: 50rem;
}

.eric-info {
    /* min-height:10%; */
    background-color: gray;
    border: 5px solid black;
    margin-top: 1em;
    color: rgb(51, 18, 236);
    font-family: 'Rubik Dirt', cursive;
    font-size: 24px;
}

.eric-info-under {
    color:white;
    font-family: 'Press Start 2P', cursive;
    display: block;
    font-size: 14px;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.skill-points-available {
    width: 100%;
    margin-top: 1rem;
    color:white;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    font-size: 14px;
}


.back-to-top {
    color:white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 0.1rem;
    border-color: rgb(27, 28, 117);
    border-style: solid;
    border-radius: 4%;
    background: rgb(0, 0, 0);
    width: 10rem;
    position:fixed;
    left:50%;
    top: 90%;
    z-index: 10;
}

.back-to-top-mobile {
    color:rgb(52, 49, 255);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 0.1rem;
    border-color: rgb(27, 28, 117);
    border-style: solid;
    border-radius: 4%;
    background: rgb(15, 15, 15);
    width: 2.5rem;
    height: 2.5rem;
    position:fixed;
    right: 0px;
    bottom: 80px;
    z-index: 10;
    display:none;
}
.skills {
    border: 5px solid rgb(63, 63, 63);
    border-radius: 20px;
    background-color: #272727;
    margin-left: 15rem;
    margin-right: 15rem;
    padding-right:1rem;
    padding-left:1rem;
    width: 30rem;
}

.skill-item {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #888888;
    float:right;
}

.skill-name {
    color:whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding-top: 2rem;
}

.skill-point-flex {

    display: flex;
    flex-direction: row;
}

.skills-blurb {
    width: 100%;
    background-color: gray;
    border: 5px solid black;
    margin-top: 1em;
    color: rgb(51, 18, 236);
    font-family: 'Rubik Dirt', cursive;
    font-size: 20px;
    margin-right: 100px;
    
}

.skills-title {
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    background-color: gray;
    border: 5px solid rgb(61, 2, 117);
    border-radius:30px;
    color: rgb(51, 18, 236);
    font-size: 16px;
    left: 0px;
    margin-top: 6rem;
    margin-left: 7rem;
    margin-right: 50rem;
    margin-bottom: 3rem;
    padding-right: 20px;
    padding-left: 2rem;
}
.skills-title-under {

    font-size: 12px;
    color: black;
    text-align:left;
    padding-left: 2rem;
    padding-right: 2rem;
}

.skill-before::before {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: "Courier New";
    height: 55em;
    width: 50em;
    display: relative;
    content: "";
    font-size: 8px;
    float: left;
    margin-left: -400px;

    /* work in progress styling activate - for now in place but invisible */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(0,81,176,1) 30%, rgba(9,47,121,0.7539390756302521) 100%); */
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
    
}
.skill-after::after {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: "Courier New";
    height: 2em;
    width: 50em;
    display: relative;
    content: "";
    font-size: 8px;
    float: left;
    margin-left: -500px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(0,81,176,1) 30%, rgba(9,47,121,0.7539390756302521) 100%);
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.thumb {
    filter:opacity(100%);
    transition: all 1s linear;
}

.space {
    margin-top: 1rem;

}

.scaling {
    height:2rem;
    width:2rem;
    /* margin-right:0.5rem;
    margin-left: 0.5rem */
}

.scrolldown {
    padding: 10rem 5rem 10rem 5rem;
    border-top: 5px dashed white;
    background-image: url("https://images.pexels.com/photos/10649075/pexels-photo-10649075.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.home-main {
    border: 2px dashed goldenrod;
    border-radius:20px;
    padding: 2rem 2rem 2rem 2rem;
}

.character-card {
    margin: 5rem 5rem 5rem 5rem;
    background-color: rgb(32, 30, 30);
    border-radius: 20px;
    animation: rotate 5s linear infinite;
  
}

@keyframes rotate {
    0% {
        border: 3px solid rgb(78, 78, 78);
    }
    50% {
        border: 3px solid gold;
    }
    100% {
        border: 3px solid rgb(78, 78, 78);
    }
  }

/* ////////// resume */

.resume-flex {
    display:flex;
    flex-direction:row;
}

/*projects*/
.project-lineup {
    /* margin-top: 2rem;
    margin-left: 2rem; */
}

.grid-container {
    display:flex;
    flex-direction:row;
    padding: 1px;
}

.grid-item {
    margin: 1rem 1rem 1rem 1rem;
    padding: 6px;
}

.home-project-flex {
    display:flex;
    flex-direction: row;
}

.red {
    background-color: red;
}

.invert {
    filter:invert(100%);
}

.top-card {
    width: 26rem
}

.following-card {
    width: 18rem;
    height: 30rem
}
.curious {
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.not-curious {
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
    background-color: grey;
    font-size: 6px;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .flex {
        justify-content:space-between;
    }

    .grid-container {
        flex-direction: column;
    }

    .home-project-flex {
        flex-direction: column;
    }

    .back-to-top {
        display:none;
    }

    .back-to-top-mobile {
        display:block;
    }

    .grid-item {
        margin: 0rem 0rem 0rem 0rem;
        padding: 1px;
    }

    .profile-image {
        width: 100%;
    }

    .project-lineup {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .top-card{ 
        width: 100%;
    }

    .following-card {
        width:100%;
        height:100%;
    }

    .home-main {
        width:100%;
    }

    .character-card {
        margin: 0 0 0 0;
        width: 100%;
    }

    .image-thumbnail {
        width:100%
    }

    .resume-flex {
        flex-direction: column;
        display:block;
    }

    .contact-me-info {
        margin-top: 1px;
        font-size: 30px;
    }

    .skills-title {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }

    .skills {

        width: 100%;
    }

    .skill-before::before {
        display:none;
    }

    .skills {
        border: 5px solid rgb(63, 63, 63);
        border-radius: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-right:0;
        padding-left:0;
        width: 100%
    }

    .scrolldown {
        padding: 0 0 0 0;
    }

}