@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    color:rgb(133, 224, 224);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 0.3rem;
    border-color: black;
    border-style: solid;
    border-radius: 4%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(111,169,237,1) 66%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header:after {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: "Courier New";
    height: 2em;
    width: 50em;
    display: block;
    content: "";
    font-size: 8px;
    float: right;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 10%, rgba(9,47,121,0.7539390756302521) 77%);
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.grid-container {
    display:flex;
    flex-direction:row;
    padding: 1px;
}

.grid-item {
    padding: 2px;
}

.red {
    background-color: red;
}

.invert {
    filter:invert(100%);
}

.top-card {
width: 26rem
}

.following-card {
width: 18rem;
height: 28rem

}
.curious {
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.not-curious {

    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
    background-color: grey;
    font-size: 6px;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .header {
        background-color: green;
    }
    .grid-container {
        flex-direction: column;
    }
    .top-card{ 
        width: 24rem;
    }
}
