@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    color:rgb(133, 224, 224);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 0.3rem;
    border-color: black;
    border-style: solid;
    border-radius: 4%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(54,133,227,1) 66%, rgba(9,47,121,0.7539390756302521) 100%);
}

.header:after {
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    font: "Courier New";
    height: 2em;
    width: 50em;
    display: block;
    content: "";
    font-size: 8px;
    float: right;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 10%, rgba(9,47,121,0.7539390756302521) 77%);
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
}

.resume-flex {

    display:flex;
    flex-direction:row;
}

.resume-details1 {
    display:none;
    z-index: -1;
    color: black;
    transform: translate(20rem, -10rem);
    transition:all 1s ease-in
}
.resume-details2 {
    display:none;
    color: red;
    /* transform: translate(65rem, 21rem); */
}
.resume-details3 {
    display:none;
    color: red;
    /* transform: translate(65rem, 21rem); */
}
.resume-details4 {
    display:none;
    color: red;
    /* transform: translate(65rem, 21rem); */
}
.resume-details5 {
    display:none;
    color: red;
    /* transform: translate(65rem, 21rem); */
}

.resume1 {
    margin-left: 10em;
    transition:all 1s ease-in
}
.resumeONE {
    margin-left: 10em;
    transition:all 1s ease-in
}

.resumeONE:hover{
    transform: translate(40rem, -1rem);
    filter:invert(20%);
    transition:all 1s ease-in
}

.resumeONE:hover + .resume-details1 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}
.resume1:hover{
    transform: translate(-1rem, -1rem);
    filter:invert(20%);
    transition:all 1s ease-in
}

.resume1:hover + .resume-details1 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}

.resume1:hover + .resume-details2 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}
.resume1:hover + .resume-details3 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}
.resume1:hover + .resume-details4 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}
.resume1:hover + .resume-details5 {
    display:block;
    position:fixed;
    transition: all 1s ease-in

}

.resume5 {

    margin-left:10em;
    transition:all 1s ease-in
}

.resume5:hover {

    transform: translate(-20rem, 20rem) scale(2);
    transition:all 1s ease-in;
    border-style:groove;
    border-color: black;
    box-shadow: 5px 10px #888888;
}


@media only screen and (max-width: 768px) {

    .resume-flex {
        flex-direction: column;
    }
    .resume1 {
        margin-left:1px
    }
    .resume5 {
        margin-left:1px
    }
  
}