.player-style-main {
   margin-left: 5%;
   margin-right: 5%;
}

.player-wrapper {
    /* position: relative; */
    margin-left: 5%;
    margin-right: 5%;
}

.spacer {
    margin-top: 3px
}

.hidden {
    display:none;
}

.showing {
    display: block
}

.player-button {
   color:rgb(133, 224, 224);
   font-family: 'Press Start 2P', cursive;
   text-align: right;
   border: 0.3rem;
   border-color: black;
   border-style: solid;
   border-radius: 4%;
   background: rgb(255,255,255);
   background: linear-gradient(90deg, rgba(255,255,255,1) 2%, rgba(0,0,0,1) 30%, rgba(16,22,33,0.7539390756302521) 100%);
   width: 100%
}

.rocks-button {
   color:rgb(133, 224, 224);
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   border: 0.3rem;
   border-color: black;
   border-style: solid;
   border-radius: 4%;
   background: rgb(255,255,255);
   background: linear-gradient(90deg, rgba(255,255,255,1) 2%, rgba(0,0,0,1) 30%, rgba(16,22,33,0.7539390756302521) 100%);
   width: 100%
}

.animated1 { 
    background-repeat: no-repeat;
    background-position: left top; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    -webkit-animation: shake 2s infinite;
    animation: shake 2s infinite
 }

 .animated2 { 
    background-repeat: no-repeat;
    background-position: left top; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    -webkit-animation: shake 3s infinite;
    animation: shake 3s infinite
 }

 .animated3 { 
    background-repeat: no-repeat;
    background-position: left top; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    -webkit-animation: shake 4s infinite;
    animation: shake 4s infinite
 }

 .nav-item {
   color:rgb(255, 0, 0);
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   border: 0.1rem;
   border-color: rgb(255, 255, 255);
   border-style: solid;
   border-radius: 4%;
   background: rgb(0, 0, 0);
   width: 10rem

 }
 
 @-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-5px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(5px);} 
 }
 
 @keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);} 
    20%, 40%, 60%, 80% {transform: translateX(5px);} 
 }

 .shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
 }