.player-wrapper {
    position: relative;
}

.react-player {
    position: relative;
    top: 0;
    left: 0;
}

.spacer {
    margin-top: 100px
}

.hidden {
    display:none;
}

.showing {

    display: block
}