
/* blackout mode */

/* * {
    background-color: black;
} */

a:link,
a:visited,
a:active {
  text-decoration: none; 
  color: rgb(204, 16, 16);
}

.main-color {
    background-color:#353535;
}

.test-red {

    color:red;
}

@-webkit-keyframes pulse {
    0% { box-shadow:0 0 8px #00ff00, inset 0 0 8px #00ff00; }
    50% { box-shadow:0 0 16px #00ff00, inset 0 0 14px #00ff00; }
    100% { box-shadow:0 0 8px #00ff00, inset 0 0 8px #00ff00; }
}

.outer-skill-point {
  background-color:transparent;
  width:21px;
  height:21px;
  border-radius:50px;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  display:inline;
  padding: 2px 2px 2px 2px;
  -webkit-animation: pulse 200ms linear 1s infinite;
  margin-top: 0.65rem;
}
.inner-skill-point {
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto auto auto auto;
}

.skill-point-off {
  height: 18px;
  width: 18px;
  background-color: rgb(29, 105, 6);
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  margin-top: 0.75rem;
}

.outer-main-point {
  background-color:transparent;
  width:28px;
  height:28px;
  border-radius:50px;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  display:inline;
  padding: 2px 2px 2px 2px;
  -webkit-animation: pulse 200ms linear 1s infinite;
}
.inner-main-point {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin: auto auto auto auto;
}

.socials-icon {
  width: 2rem;
  margin-left: 2rem;
}

.socials-icon:hover {
  color: rgb(21, 142, 241);

}

.footer {
  border: 1px solid white;
  font-family: 'Press Start 2P', cursive;
  padding-left: 1rem;
  color: white;
  position:fixed;
  width: 20rem;
  height: 2rem;
  bottom: 0px;
  right: 0px;
  background-color: rgb(29, 29, 29);
  z-index: 50;
  padding-top: 2px;
}

.tst {
height: 100vh;
}


@media only screen and (max-width: 900px) {

  .footer {
    border: 1px solid white;
    font-family: 'Press Start 2P', cursive;
    padding-left: 0px;
    color: white;
    position:fixed;
    width: 7.5rem;
    height: 2.2rem;
    bottom: 0px;
    right: 0px;
    background-color: rgb(29, 29, 29);
    z-index: 50;
    padding-top: 2px;
  }

  .my-socials {

    display: none;
  }

  .socials-icon {
    width: 2rem;
    height: 2rem;
    margin-left:1.2rem;
  }
  
}
/* dev border mode */
/* * {
    border: 5px solid black;
} */